# soldered 50MHz Clock.
NET "clk50" LOC = "C9" | IOSTANDARD = LVTTL;
#NET "Clk_50MHz" PERIOD = 20.0ns HIGH 50%;

# PS/2 port
#
NET "PS2_Data" LOC = "G13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PS2_Clk"  LOC = "G14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

# VGA
#
NET "vga_red"  LOC = "H14" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "vga_green"  LOC = "H15" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "vga_blue"  LOC = "G15" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "vga_hsync"  LOC = "F15" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "vga_vsync"  LOC = "F14" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;

# RS-232 Serial Port: DCE
#NET "RS232_RXD" LOC = "R7" | IOSTANDARD = LVTTL ;
#NET "RS232_TXD" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
# RS-232 Serial Port: DTE
#NET "RS232_RXD" LOC = "U8" | IOSTANDARD = LVTTL ;
#NET "RS232_TXD" LOC = "M13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
